<a href="https://colab.research.google.com/github/Jeonkyoungyong/bigdata/blob/main/9%EC%A3%BC%EC%B0%A8_%EC%88%98%EC%97%85_%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
import json

#Json 파일 경로
jason_file_path = "/content/drive/MyDrive/빅데이터 9주차/jsonData/custom.json"

#json 파일 읽기
with open (jason_file_path, 'r', encoding='utf-8') as f:
  json_data = json.load(f)

#json 데이터를 pandas Dataframe으로 변환
df = pd.DataFrame(json_data)

# Dataframe 정보 출력
print(df.info())

#Dataframe 상위 5개 출력
print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       2 non-null      int64
 1   name     2 non-null      object
 2   email    2 non-null      object
 3   phone    2 non-null      object
 4   address  2 non-null      object
dtypes: int64(1), object(4)
memory usage: 208.0+ bytes
None
   id name             email             phone  \
0   1  홍길동  hong@example.com  +82-10-1234-5678
1   2  김철수   kim@example.com  +82-10-8765-4321

                             address
0  {'city': '서울', 'country': '대한민국'}
1  {'city': '부산', 'country': '대한민국'}

In [9]:
#엑셀데이터

import pandas as pd
import xml.etree.ElementTree as ET

#XML파일경로
xml_file_path = "/content/drive/MyDrive/빅데이터 9주차/xmlData/book.xml"

#XML 파일 읽기
tree = ET.parse(xml_file_path)

#루트요소 가져오기
root = tree.getroot()

#특정요소 목록 가져오기
elements = root.findall('book')

#dataframe 생성
df = pd.DataFrame(columns=['title', 'author', 'price', 'genre'])

#각ㅇ소를 Dataframe에 추가
for element in elements:
  row = {
      'title' : element.find('title').text,
      'author' : element.find('author').text,
      'price' : float(element.find('price').text),
      'genre' : element.find('genre').text,
  }
  new_df = pd.DataFrame([row], columns=df.columns)
  df = pd.concat([df, new_df], ignore_index=True)

  #DataFrame 정보 출력
  print(df.info())

  #DataFrame 상위 5개 행 출력
  print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   1 non-null      object
 1   author  1 non-null      object
 2   price   1 non-null      float64
 3   genre   1 non-null      object
dtypes: float64(1), object(3)
memory usage: 160.0+ bytes
None
                 title       author  price    genre
0  Pride and Prejudice  Jane Austen  19.99  romance
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   2 non-null      object
 1   author  2 non-null      object
 2   price   2 non-null      float64
 3   genre   2 non-null      object
dtypes: float64(1), object(3)
memory usage: 192.0+ bytes
None
                   title       author  price    genre
0    Pride and Prejudice  Jane Austen  19.99  romance
1  To Kill a Mockingbird   Harper Lee  14.99  fiction
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   3 non-null      object
 1   author  3 non-null      object
 2   price   3 non-null      float64
 3   genre   3 non-null      object
dtypes: float64(1), object(3)
memory usage: 224.0+ bytes
None
                   title          author  price    genre
0    Pride and Prejudice     Jane Austen  19.99  romance
1  To Kill a Mockingbird      Harper Lee  14.99  fiction
2  The Lord of the Rings  J.R.R. Tolkien  34.99  fantasy